body {
    background-color: #ffcc99;
}

ul {
    list-style-type: none;
}

.general-wraper {
    width: 50%;
    padding: 1px;
    margin: auto;
    background-color: #99ccff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 4px 4px 0 #ff9999;
    border: 1px solid #ff9999;
}

h1 {
    font-weight: 900;
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    color: #663399;
}

.inputs-class {
    background-color: #ffccff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.inputs-class>input,
.inputs-class>textarea {
    width: 100%;
    border-radius: 8px;
    padding: 5px;
}

.add-button {
    outline: 0;
    align-items: center;
    background-color: #ff9999;
    color: #663399;
    border: 1px solid #663399;
    border-radius: 4px;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 6px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    width: 20%;
}

.add-button:hover {
    box-shadow: 4px 4px 0 #663399;
    transform: translate(-4px, -4px);
    cursor: pointer;
}

.add-button:focus-visible {
    outline-offset: 1px;
}

.delete-button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #ff9999;
    color: #663399;
    border: 1px solid #663399;
    border-radius: 4px;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 12px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 3px 6px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    width: 5%;
    display: flex;
    box-shadow: 2px 2px 0 #663399;
    text-align: center;
    opacity: 0;
}

.delete-button:hover {
    background-color: #ffcccc;
    font-size: 16px;
    box-shadow: 4px 4px 0 #663399;
    transform: translate(-2px, -2px);
}

.general-list {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ffccff;
}

.input-title {
    border: solid 1px #666666;
    outline: none;
}

.input-title:focus {
    border: solid 2px #ff9999;
}

.inputs-class {
    word-wrap: break-word;
    overflow: hidden;
}

.input-description {
    text-align: justify;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.input-description:focus {
    border: solid 2px #ff9999;
    outline: none;
}

li {
    border-bottom: solid 1px rgba(174, 212, 223, 0.807);
    border-spacing: 50px;
    margin-bottom: 15px;
}

li:hover .delete-button {
    opacity: 100;
}

.task-counter {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -15px;
    font-weight: 900;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

li > div > h5 {
    font-size: 25px;
    font-family: 'Handlee', cursive;
    font-weight:500;
   
  }

  .description-font {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    font-weight:bolder;
  }

  h5 {
    font-size: 20px;
    font-family: 'Delicious Handrawn', cursive;
    font-weight:500;
    
  }
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');